html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing:inherit;
}

body{
  margin: 0;
}

main{
  margin: 0;
}


p{
  font-family: 'Merriweather', serif;
  line-height: 1.6em;
  width: 100%;
  margin: 10px;
  margin-bottom: 1em;
}


header{
  font-size:1.5rem;
  text-align: center;
  padding: 1em;
  color: white;
  background-color: #d05c2e;
  font-style: bold;
  margin: 0;
  border: 0;
  padding:0;
}

div.masthead{
  padding: 1em;
}

h1{
  margin: 0;
}

.grain-left{
  float: left;
  width:10%;
}

.grain-right{
  float: right;
  width: 10%;
}
main{
  margin: .5em;
}
figure{
  margin: 0;
}
.img-grains{
  float: left;
  width: 45%;
  margin-right: .5em;
}
.img-cereals {
  float: right;
  width: 45%;
  clear: both;
  border: lightgrey solid 1px;
  margin: 0;
  margin-bottom: .5em;
}



.img-quinoa {
  float: right;
  width: 45%;
  clear: both;
  border: lightgrey solid 1px;
}

.img-rice{
  width: 50%;
  float:right;
}

.img-oats{
  width: 50%;
  float: left;
}


h2{
  background-color: #d05c2e;
  text-align: center;
  color: white;
  padding: 1em;
  margin: 0;
  clear: both;
  font-weight: normal;
  width: 100%;
}

h3 {
  text-align: center;
  color: black;
  font-family: 'merriweather', serif;
  font-size: 1.1em;
  padding: 0em, 2em;
  font-style: ultra bold;
  margin-bottom: 1em;
}

figcaption{
  background-color: #d05c2e;
  color: white;
  text-align: center;
  margin: 0;
  padding: 1em;
  font-style: italic;
  font-family: 'merriweather', serif;
}

.img-list{
  width: 20%;
  float: left;
  clear: left;
  margin-bottom: 1em;
  margin-right: 1em;
}

dl{
  display: inline;
}

dt{
  float: left;
}
dd{
  float: left;
  margin: 0;
}


ol{
  margin: 0;
  padding: 0;
}

nav{
  overflow: hidden;
}

nav li{
  list-style: none;
  background-color: #d05c2e;
  border: 1px solid #a93f35;
  float: left;
  border: 1px solid #a93f35;
  width: 33.3%;
  margin: 0;
  text-align: center;
  color: white;
}

img {
  width: 100%;
  margin: 0em;
  padding: 0em;
}

nav a{
  padding: .5rem;
  font-size: 120%;
  background-color: #d05c2e;
  color: white;
  text-decoration: none;
  display: block;
}

nav a:hover{
  background-color: #a93f35;
  color: white;
  text-decoration: none;
}

footer{
  background-color: #d05c2e;
  text-align: center;
  padding: 1.5em;
  margin: 15em 0em 0em 0em;
  font-family: 'Merriweather', serif;
  font-size: .5em;
  color: white;
  clear: both;
}
